$font-tittles: RBNo3\.1, -apple-system, blinkmacsystemfont, San Francisco, Helvetica, sans-serif;
$font-Paragraphs:proxima-nova, -apple-system, blinkmacsystemfont, San Francisco, Helvetica, sans-serif;

$colors-primary:black;
$colors-btn:red;
$colors-third:white;

// @mixin
